# Number Letter Counts
### Problem 17
If the numbers $1$ to $5$ are written out in words: one, two, three, four, five, then there are $3 + 3 + 5 + 4 + 4= 19$ letters used in total.
If all the numbers from $1$ to $1000$ (one thousand) inclusive were written out in words, how many letters would be used?

**NOTE: Do not count spaces or hyphens.** \
*For example*, 342 (three hundred and forty-two) contains 23 letters and 115 (one hundred and fifteen) contains 20 letters. \
The use of "and" when writing out numbers is in compliance with British usage.

### 1 to 9
There is no pattern no of letters 1 to 9
| Number | Word  | No of letters |
|--------|-------|-------|
| 1      | one   | 3     |
| 2      | two   | 3     |
| 3      | three | 5     |
| 4      | four  | 4     |
| 5      | five  | 4     |
| 6      | six   | 3     |
| 7      | seven | 5     |
| 8      | eight | 5     |
| 9      | nine  | 4     |

In [1]:
sum_of_1_to_9=3+3+5+4+4+3+5+5+4

###  10-19
| Number | Word      | No of letters |
|--------|-----------|-------|
| 10     | ten       | 3     |
| 11     | eleven    | 6     |
| 12     | twelve    | 6     |
| 13     | thirteen  | 8     |
| 14     | fourteen  | 8     |
| 15     | fifteen   | 7     |
| 16     | sixteen   | 7     |
| 17     | seventeen | 9     |
| 18     | eighteen  | 8     |
| 19     | nineteen  | 8     |

In [2]:
sum_of_10_t0_19=3+6 + 6 + 8 + 8 + 7 + 7 + 9 + 8+8

### 20-100
| Number | Word        | No of Letters |
|--------|-------------|-------|
| 20     | twenty      | 6     |
| 21     | twenty one  | 6+3   |
| ...    | ...         | ...   |
| 30     | thirty      | 6     |
| 40     | forty       | 5     |
| 50     | fifty       | 5     |
| 60     | sixty       | 5     |
| 70     | seventy     | 7     |
| 80     | eighty      | 6     |
| 90     | ninety      | 6     |
| 99     | ninety nine | 6+4=10|

In [3]:
sum_of_20_100=10*(6 + 6 + 5 + 5 + 5 + 7 + 6 + 6)+8*sum_of_1_to_9 # Beacuse twenty;thrity repeart 10 times and 1 to 9 repeat twenty --> ninty only

### 100-999
      _____ **hundered and** _____  ______
*eg:122= one  **hundered and** twenty  two*
one ;two;three repeats as one hurderd...;two hundred;..three hudred..
Thus number 1 to 9 repeats 100 times.==> (sum_of_1_to_9)$\times 100$ ------------------------------------(1)\
1-99 occurring 9 times => $9\times$ sum_of_1_to_99---------------------------------------------------(2)\
We have “hundred” occurring 9 times with 7 letters. => $7\times 9$ ----------------------------------(3)\
*eg: one hurderd;two hunded...eight hundred; nine hundred.*\
We have “hundred and” occurring 999 times with 10 letters => $891\times10$ =8910---------------------(4)\
1000-->one thousand-->11----------------------------------------------------------------------(5)\

By equation 0;1;2;3;4 and 5

In [4]:
sum_of_1_to_99=sum_of_1_to_9+sum_of_10_t0_19+sum_of_20_100
Grand_Total=sum_of_1_to_99+(sum_of_1_to_9*100)+ (9*sum_of_1_to_99)+(7*9)+(891*10)+11
print(Grand_Total)

21124